.metadata/
.recommenders/
RemoteSystemsTempFiles/
Servers/
*.project
ugc-aem-parent/.settings/
ugc-aem-parent/ugc-core-package/.settings/
*.classpath
ugc-aem-parent/ugc-core-package/ugc-aem-core/.settings/
ugc-aem-parent/ugc-osgiconfigs/.settings/
ugc-aem-parent/ugc-service-package/.settings/
ugc-aem-parent/ugc-service-package/ugc-aem-services/.settings/
ugc-aem-parent/ugc-web-ui/.settings/
ugc-aem-parent/ugc-core-package/ugc-aem-core/target/
ugc-aem-parent/ugc-core-package/target/
ugc-aem-parent/ugc-osgiconfigs/target/
ugc-aem-parent/ugc-service-package/target/
ugc-aem-parent/ugc-web-ui/target/
ugc-aem-parent/ugc-web-ui/src/main/content/jcr_root/apps/ugc/services/install/
ugc-aem-parent/ugc-service-package/ugc-aem-services/target/
ugc-aem-parent/ugc-core-package/src/main/resources/META-INF/MANIFEST.MF
ugc-aem-parent/ugc-osgiconfigs/src/main/content/jcr_root/META-INF/MANIFEST.MF
ugc-aem-parent/ugc-service-package/src/main/resources/META-INF/MANIFEST.MF
ugc-aem-parent/ugc-web-ui/src/main/content/jcr_root/META-INF/MANIFEST.MF
ugc-aem-parent/ugc-content-package/.settings/
ugc-aem-parent/ugc-content-package/src/main/content/jcr_root/META-INF/MANIFEST.MF
